<div class="board"><div class="boardtitle">Comments and Reactions</div>
    <div style="padding: 10px 10px 5px 10px;">
        <script src="https://giscus.app/client.js"
            data-repo="codeaft/codeaft.github.io"
            data-repo-id="R_kgDOOrplzQ"
            data-category="General"
            data-category-id="DIC_kwDOOrplzc4CqRBc"
            data-mapping="pathname"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="{{ ctheme }}"
            data-lang="en"
            crossorigin="anonymous"
            async>
        </script>
    </div>
</div>